@model IEnumerable<ProntoChef.Models.Product>

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        body{
            color:white;
        }
        h2, th, td {
            color: white;
        }
        .custom-link-style {
            color: rgb(234, 18, 126);
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            transition: font-size 0.3s ease;
            padding: 5px;
        }

            .custom-link-style:hover {
                font-size: 18px;
                color: white;
                font-size:large;
            }
            img{
                object-fit:cover;
            }
        tr {
            border-color: #681747;
            border-style: solid;
            border-width: 0px;
        }
    </style>
</head>
<h2>Chef :</h2>

<p>
    @Html.ActionLink("Aggiungi Chef", "Create", null, new { @class = "custom-link-style" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome Chef")
        </th>
        <th>
            @Html.DisplayName("Foto")
        <th>
            @Html.DisplayName("Prezzo per Cooking Session")
        </th>
        <th>
            @Html.DisplayName("Tempo di Preparazione")
        </th>
        <th>
            @Html.DisplayName("Piatto")
        </th>
        <th>
            @Html.DisplayName("Etnia")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            <img src=@item.ProductImage alt="" style="width: 150px; max-height: 100px">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreparationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id = item.ProductId }, new { @class = "btn btn-success btn-sm" }) 
            @Html.ActionLink("Dettagli", "Details", new { id = item.ProductId }, new { @class = "btn btn-secondary btn-sm" }) 
            @Html.ActionLink("Elimina", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger btn-sm" }) 
        </td>
    </tr>
}

</table>
